<div class="container">
    <div class="card m-5" style="background-color:#0ae98a; height: 70px;"><h2 class="text-center m-2" style="color:white">Jóvenes Emprendedores Colombianos</h2></div>

    <table class="table table-bordered mt-4">
        <thead>
        </thead>
        <tbody>
            <div class="row">
            @for(emprendedor of emprendedores; track emprendedor.id){
                <div class="col">
                    <div class="card" style="height: 300px;" [routerLink]="['/emprendedores', emprendedor.id]">
                        
                        <td><img [src]="emprendedor.foto_url" class="d-block mx-auto img-fluid" alt="{{ emprendedor.nombre }}" style="width: 50px; height: auto;"></td>
                        <td><strong>{{ emprendedor.nombre }}</strong></td>
                        <td><strong>Género: </strong>{{ emprendedor.genero }}</td>
                        <td><strong>Pregrado: </strong>{{ emprendedor.pregrado }}</td>
                    </div>
                </div>
                
                
            }
            </div>
        </tbody>
    </table>
    
    
</div>